*.pro.user
*.pro.user.*
Makefile
Makefile.*
Release/
Debug/
bin/
obj/
.vs/
*.o
*.a
*.*~
moc_*.cpp
TEST_LOG*.*
*.stash
*.*Store
*.vcx*
*.user
/PetStoreClientBackgroundApplication/AppPackages
/PetStoreClientBackgroundApplication/BundleArtifacts
/PetStoreUWPClient/AppPackages/PetStoreUWPClient_0.9.2.0_Debug_Test
/PetStoreUWPClient/BundleArtifacts
